header {
    background-color: brown;
    padding: 50px;
    text-align: center;
}
footer{
    background-color: brown;
    bottom: 0;
    position: relative;
    width: 100%;
    text-align: center;
    width: 100%;
}

#banner{
    border-radius: 20px;
    padding-top: 10px;
    display: flex;
    margin: 0 auto;
    
    
    

    
}
#titulo1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-right: 5px;
}
#s1{
    width: 1200px;
    padding-left: 10px;
    

}    


